<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylc.note.security.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="org.ylc.note.security.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="btn_key" jdbcType="VARCHAR" property="btnKey"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="seq" jdbcType="TINYINT" property="seq"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getUserPermissions" resultType="java.lang.String">
        SELECT
            m.permission
        FROM
            sys_menu m
        WHERE
            m.id IN (
            SELECT
                menu_id
            FROM
                sys_role_menu rm
            WHERE
            rm.role_id IN ( SELECT role_id FROM sys_user_role ur WHERE ur.user_id = #{userId} ))
    </select>

</mapper>