<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylc.note.shardingsphere.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="org.ylc.note.shardingsphere.entity.SysLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="operation_id" jdbcType="INTEGER" property="operationId"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="newLog">
        insert into sys_log (operation_id, value, create_time) values(#{log.operationId}, #{log.value}, #{log.createTime})
    </insert>

    <select id="rangeSearch" resultMap="BaseResultMap">
        select *  from  sys_log where create_time BETWEEN #{begin} AND #{end}
    </select>

    <select id="page" resultMap="BaseResultMap">
        select * from sys_log limit #{curIndex}, #{size}
    </select>

    <select id="pageById" resultMap="BaseResultMap">
        select * from sys_log where id > #{lastId} limit #{size}
    </select>

</mapper>