<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylc.note.shardingsphere.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="org.ylc.note.shardingsphere.entity.SysLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="value"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="newLog">
        insert into sys_log (value,create_time) values(#{log.value}, #{log.create_time})
    </insert>

    <select id="rangeSearch" resultMap="BaseResultMap">
        select *  from  sys_log where create_time &gt;= #{begin} AND create_time &lt;= #{end}
    </select>

</mapper>